# /etc/systemd/network/wired.network

[Match]
Name=en*

[Link]
MACAddress=02:00:00:21:01:01

[Network]
DHCP=ipv4

[DHCP]
RouteTable=253

[Address]
Address=10.4.5.11/24

[Route]
Destination=10.4.0.0/16
Gateway=10.4.5.1

[Route]
Destination=10.4.0.0/16
Gateway=10.4.5.1
Table=2

[RoutingPolicyRule]
From=10.4.5.11
Table=2
Priority=202
========================================

[Match]
Name=enp0s3

[Network]
DHCP=ipv4

[Route]
Destination=204.8.230.0/24
Gateway=192.168.1.1
From=192.168.1.160
Table=129

[Route]
Destination=192.168.1.0/24
Gateway=192.168.1.1
From=192.168.1.160
Table=129

[Route]
Destination=0.0.0.0/0
Gateway=192.168.1.1
From=192.168.1.160
Table=129

[RoutingPolicyRule]
From=192.168.1.160
Table=129

[DHCP]
UseMTU=true
RouteMetric=100


--------------------------


[Match]
Name=enp0s3

[Network]
DHCP=ipv4

[Route]
Destination=204.8.230.0/24
Gateway=192.168.1.1
Metric=3
Table=129

[Route]
Destination=192.168.1.0/24
Gateway=192.168.1.1
Metric=3
Table=129

[Route]
Destination=0.0.0.0/0
Gateway=192.168.1.1
Metric=3
Table=129

[RoutingPolicyRule]
From=192.168.1.160
Table=129

[DHCP]
UseMTU=true
RouteMetric=100

-----------------------------

