[Match]
Name=enp0s3

[Network]
DHCP=ipv4

[Route]
Destination=204.8.230.0/24
Gateway=192.168.1.1
From=192.168.1.160
Table=129

[Route]
Destination=192.168.1.0/24
Gateway=192.168.1.1
From=192.168.1.160
Table=129

[Route]
Destination=0.0.0.0/0
Gateway=192.168.1.1
From=192.168.1.160
Table=129

[RoutingPolicyRule]
From=192.168.1.160
Table=129

[DHCP]
UseMTU=true
RouteMetric=100


--------------------------


[Match]
Name=enp0s3

[Network]
DHCP=ipv4

[Route]
Destination=204.8.230.0/24
Gateway=192.168.1.1
Metric=3
Table=129

[Route]
Destination=192.168.1.0/24
Gateway=192.168.1.1
Metric=3
Table=129

[Route]
Destination=0.0.0.0/0
Gateway=192.168.1.1
Metric=3
Table=129

[RoutingPolicyRule]
From=192.168.1.160
Table=129

[DHCP]
UseMTU=true
RouteMetric=100

-----------------------------

